# ETL Pipeline Preparation
Follow the instructions below to help you create your ETL pipeline.
### 1. Import libraries and load datasets.
- Import Python libraries
- Load `messages.csv` into a dataframe and inspect the first few lines.
- Load `categories.csv` into a dataframe and inspect the first few lines.

In [1]:
# import libraries
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# load messages dataset
messages = pd.read_csv('messages.csv')
messages.shape

(26248, 4)

In [3]:
messages.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26248 entries, 0 to 26247
Data columns (total 4 columns):
id          26248 non-null int64
message     26248 non-null object
original    10184 non-null object
genre       26248 non-null object
dtypes: int64(1), object(3)
memory usage: 820.3+ KB

In [4]:
messages.isnull().sum()

id              0
message         0
original    16064
genre           0
dtype: int64

In [5]:
# load categories dataset
categories = pd.read_csv('categories.csv')
categories.shape

(26248, 2)

In [6]:
categories.isnull().sum()

id            0
categories    0
dtype: int64

In [7]:
categories.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26248 entries, 0 to 26247
Data columns (total 2 columns):
id            26248 non-null int64
categories    26248 non-null object
dtypes: int64(1), object(1)
memory usage: 410.2+ KB

### 2. Merge datasets.
- Merge the messages and categories datasets using the common id
- Assign this combined dataset to `df`, which will be cleaned in the following steps

In [8]:
# merge datasets
df = messages.merge(categories, how='inner', on ='id')
df.isnull().sum()

id                0
message           0
original      16140
genre             0
categories        0
dtype: int64

### 3. Split `categories` into separate category columns.
- Split the values in the `categories` column on the `;` character so that each value becomes a separate column. You'll find [this method](https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.Series.str.split.html) very helpful! Make sure to set `expand=True`.
- Use the first row of categories dataframe to create column names for the categories data.
- Rename columns of `categories` with new column names.

In [9]:
# create a dataframe of the 36 individual category columns
categories_df = df['categories'].str.split(';', expand = True)
categories_df.isnull().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
25    0
26    0
27    0
28    0
29    0
30    0
31    0
32    0
33    0
34    0
35    0
dtype: int64

In [10]:
# select the first row of the categories dataframe
row = categories_df.iloc[0]

# use this row to extract a list of new column names for categories.
# one way is to apply a lambda function that takes everything 
# up to the second to last character of each string with slicing
category_colnames = row.astype(str).apply(lambda x: x[:-2]).tolist()
#category_colnames= pd.Series(row).str.split('-').str[0]
print(category_colnames)

['related', 'request', 'offer', 'aid_related', 'medical_help', 'medical_products', 'search_and_rescue', 'security', 'military', 'child_alone', 'water', 'food', 'shelter', 'clothing', 'money', 'missing_people', 'refugees', 'death', 'other_aid', 'infrastructure_related', 'transport', 'buildings', 'electricity', 'tools', 'hospitals', 'shops', 'aid_centers', 'other_infrastructure', 'weather_related', 'floods', 'storm', 'fire', 'earthquake', 'cold', 'other_weather', 'direct_report']

In [11]:
# rename the columns of `categories`
categories_df.columns = category_colnames
categories_df.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

### 4. Convert category values to just numbers 0 or 1.
- Iterate through the category columns in df to keep only the last character of each string (the 1 or 0). For example, `related-0` becomes `0`, `related-1` becomes `1`. Convert the string to a numeric value.
- You can perform [normal string actions on Pandas Series](https://pandas.pydata.org/pandas-docs/stable/text.html#indexing-with-str), like indexing, by including `.str` after the Series. You may need to first convert the Series to be of type string, which you can do with `astype(str)`.

In [12]:
for column in categories_df:
    # set each value to be the last character of the string
    #categories_df[column] = categories_df[column].str.strip().str[-1]
    categories_df[column] = categories_df[column].astype(str).str[-1]
        
    # convert column from string to numeric
    categories_df[column] = pd.to_numeric(categories_df[column])
categories_df.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
categories_df.isnull().sum()

related                   0
request                   0
offer                     0
aid_related               0
medical_help              0
medical_products          0
search_and_rescue         0
security                  0
military                  0
child_alone               0
water                     0
food                      0
shelter                   0
clothing                  0
money                     0
missing_people            0
refugees                  0
death                     0
other_aid                 0
infrastructure_related    0
transport                 0
buildings                 0
electricity               0
tools                     0
hospitals                 0
shops                     0
aid_centers               0
other_infrastructure      0
weather_related           0
floods                    0
storm                     0
fire                      0
earthquake                0
cold                      0
other_weather             0
direct_report             0
dtype: int64

In [14]:
categories_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26386 entries, 0 to 26385
Data columns (total 36 columns):
related                   26386 non-null int64
request                   26386 non-null int64
offer                     26386 non-null int64
aid_related               26386 non-null int64
medical_help              26386 non-null int64
medical_products          26386 non-null int64
search_and_rescue         26386 non-null int64
security                  26386 non-null int64
military                  26386 non-null int64
child_alone               26386 non-null int64
water                     26386 non-null int64
food                      26386 non-null int64
shelter                   26386 non-null int64
clothing                  26386 non-null int64
money                     26386 non-null int64
missing_people            26386 non-null int64
refugees                  26386 non-null int64
death                     26386 non-null int64
other_aid                 26386 non-null int64
infrastructure_related    26386 non-null int64
transport                 26386 non-null int64
buildings                 26386 non-null int64
electricity               26386 non-null int64
tools                     26386 non-null int64
hospitals                 26386 non-null int64
shops                     26386 non-null int64
aid_centers               26386 non-null int64
other_infrastructure      26386 non-null int64
weather_related           26386 non-null int64
floods                    26386 non-null int64
storm                     26386 non-null int64
fire                      26386 non-null int64
earthquake                26386 non-null int64
cold                      26386 non-null int64
other_weather             26386 non-null int64
direct_report             26386 non-null int64
dtypes: int64(36)
memory usage: 7.4 MB

### 5. Replace `categories` column in `df` with new category columns.
- Drop the categories column from the df dataframe since it is no longer needed.
- Concatenate df and categories data frames.

In [15]:
# drop the original categories column from `df`
df = df.drop(['categories'], axis = 1 )

df.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [16]:
df.isnull().sum()

id              0
message         0
original    16140
genre           0
dtype: int64

In [17]:
df['id'].value_counts()

24779    9
7747     4
14246    4
25512    4
17553    4
13914    4
29119    4
14135    4
14592    4
17919    4
18313    4
6573     4
18925    4
14073    4
12589    4
6327     4
27768    4
23002    4
6492     4
15938    4
2446     4
4956     4
1652     4
7892     4
11503    4
15576    4
3250     4
5776     4
6515     4
24247    4
        ..
27384    1
25337    1
29435    1
19196    1
8913     1
10960    1
21183    1
23230    1
14994    1
12947    1
2708     1
661      1
6806     1
4759     1
27288    1
25241    1
19100    1
17053    1
23198    1
21151    1
15026    1
12979    1
2740     1
6838     1
4791     1
27320    1
25273    1
29371    1
17085    1
2049     1
Name: id, Length: 26180, dtype: int64

In [18]:
# concatenate the original dataframe with the new `categories` dataframe
df = pd.concat([df, categories_df], axis=1)
df.isnull().sum()

id                            0
message                       0
original                  16140
genre                         0
related                       0
request                       0
offer                         0
aid_related                   0
medical_help                  0
medical_products              0
search_and_rescue             0
security                      0
military                      0
child_alone                   0
water                         0
food                          0
shelter                       0
clothing                      0
money                         0
missing_people                0
refugees                      0
death                         0
other_aid                     0
infrastructure_related        0
transport                     0
buildings                     0
electricity                   0
tools                         0
hospitals                     0
shops                         0
aid_centers                   0
other_infrastructure          0
weather_related               0
floods                        0
storm                         0
fire                          0
earthquake                    0
cold                          0
other_weather                 0
direct_report                 0
dtype: int64

In [19]:
for column in df.columns:
    print(df[column].unique())

[    2     7     8 ..., 30263 30264 30265]
['Weather update - a cold front from Cuba that could pass over Haiti'
 'Is the Hurricane over or is it not over'
 'Looking for someone but no name' ...,
 "Proshika, operating in Cox's Bazar municipality and 5 other unions, Ramu and Chokoria, assessment, 5 kg rice, 1,5 kg lentils to 700 families."
 'Some 2,000 women protesting against the conduct of the elections were teargassed as they tried to converge on the local electoral commission offices in the southern oil city of Port Harcourt.'
 'A radical shift in thinking came about as a result of this meeting, recognizing that HIV/AIDS is at the core of the humanitarian crisis and identifying the crisis itself as a function of the HIV/AIDS pandemic.']
[ 'Un front froid se retrouve sur Cuba ce matin. Il pourrait traverser Haiti demain. Des averses de pluie isolee sont encore prevues sur notre region ce soi'
 'Cyclone nan fini osinon li pa fini'
 'Patnm, di Maryani relem pou li banm nouvel li ak timoun yo. Mesi se john jean depi Monben kwochi.'
 ...,
 'shikarpur mein swanyasevak ki avyashaktha he.khana,dhavainyon ki zakth zaroorath hein.'
 'JO KO KHANA, PAANI, DAWAYIAN, NAOV CHAHIYE.'
 'Umer kot: Sindh: logon ko rehne ke liye ghar,sharan,dera avyashak he.yahan log kinare par kade hein.']
['direct' 'social' 'news']
[1 0 2]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]

### 6. Remove duplicates.
- Check how many duplicates are in this dataset.
- Drop the duplicates.
- Confirm duplicates were removed.

In [20]:
df['related'] = df['related'].replace(2,1)
df[df['related'] == 2]

Empty DataFrame
Columns: [id, message, original, genre, related, request, offer, aid_related, medical_help, medical_products, search_and_rescue, security, military, child_alone, water, food, shelter, clothing, money, missing_people, refugees, death, other_aid, infrastructure_related, transport, buildings, electricity, tools, hospitals, shops, aid_centers, other_infrastructure, weather_related, floods, storm, fire, earthquake, cold, other_weather, direct_report]
Index: []

[0 rows x 40 columns]

In [21]:
# check number of duplicates
df.duplicated().sum()

171

In [22]:
# drop duplicates
df= df.drop_duplicates()

In [23]:
# check number of duplicates
df.duplicated().sum()

0

In [24]:
df.dropna()

,id,message,original,genre,related,request,offer,aid_related,medical_help,medical_products,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,1,0,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,14,Information about the National Palace-,Informtion au nivaux palais nationl,direct,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,15,Storm at sacred heart of jesus,Cyclone Coeur sacr de jesus,direct,1,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
7,16,"Please, we need tents and water. We are in Sil...",Tanpri nou bezwen tant avek dlo nou zon silo m...,direct,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
8,17,"I would like to receive the messages, thank you",Mwen ta renmen jouin messag yo. Merci,direct,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,18,I am in Croix-des-Bouquets. We have health iss...,"Nou kwadebouke, nou gen pwoblem sant m yo nan ...",direct,1,1,0,1,1,1,...,0,0,0,0,0,0,0,0,0,1
10,20,"There's nothing to eat and water, we starving ...",Bon repo pa gen anyen menm grangou swaf,direct,1,1,0,1,1,1,...,0,1,1,1,0,0,0,0,0,1
11,21,I am in Petionville. I need more information r...,M nan pv mvle plis enfomasyon sou 4636,direct,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,22,"I am in Thomassin number 32, in the area named...",Mwen thomassin 32 nan pyron mwen ta renmen jwe...,direct,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
13,24,"Let's do it together, need food in Delma 75, i...",Ann fel ansanm bezwen manje nan delma 75 nan r...,direct,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
14,25,More information on the 4636 number in order f...,gen plis enfomasyon sou 4636 la pom w sim ap k...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,26,"A Comitee in Delmas 19, Rue ( street ) Janvier...",Komite katye delma 19 rue janvier imp charite ...,direct,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,1
16,27,We need food and water in Klecin 12. We are dy...,Nou bezwen mange avek dlo nan klcin 12 LA LAFI...,direct,1,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,1
17,28,are you going to call me or do you want me to ...,Eske se rele nap relem oubyen se mwen kap rele...,direct,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,30,I don't understand how to use this thing 4636.,Mwen pa konprann koman pou m itilize bagay 463...,direct,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,31,I would like to know if the earthquake is over...,Mwen ta remen connin si trenblem de terre afin...,direct,1,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
20,32,I would like to know if one of the radio ginen...,Mwen ta renmen konnen eske ge jounalis radyo g...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,33,"I'm in Laplaine, I am a victim",Mwen laplan mwen viktim kot yap bay d pou latr...,direct,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
22,34,"There's a lack of water in Moleya, please info...",Nan moleya pa gen dlo svp f konnen sa pou mwen.,direct,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
23,35,Those people who live at Sibert need food they...,nou menm nan sibert nou grangou nou bezwen mange,direct,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
24,36,"I want to say hello, my message is to let you ...",Mwen salye nou dab mesaj mwen an se jis nou ge...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,37,Can you tell me about this service,Can you tell me about this service,direct,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,38,"People I'm at Delma 2, we don't anything what ...",MEZANMI MWEN MWEN NAN DELMA 2 NOU TR MAN MAL N...,direct,1,1,0,1,1,1,...,0,0,0,0,0,0,0,0,0,1
27,39,We are at Gressier we needs assistance right a...,Se gressier nou an difikilte tanpri vin ede nou,direct,1,1,0,1,1,0,...,0,0,1,1,0,0,0,0,0,1
28,41,How can we get water and food in Fontamara 43 ...,Comment nou ka jwen dlo ak manje nan font 43 c...,direct,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
29,42,We need help. Carrefour has been forgotten com...,Nap di secours yo bliye kafou net sant m ap to...,direct,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12414,14628,From VILLAGE ALLHADINO KHASKHELI thatta Walida...,VILLAGE ALLHADINO KHASKHELI thatta se walidad ...,direct,1,1,0,1,0,0,...,0,0,1,1,0,0,0,0,0,1
12415,14631,village allhadino khaskheli u.c chatto chand d...,village allhadino khaskheli u.c chatto chand d...,direct,1,1,0,1,0,0,...,0,1,1,1,0,0,0,0,0,1
12416,14632,I allhadino khaskheli UC chatto a dehe a shalu...,allhadino khaskheli chatto dehe a shalunka ...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12417,14634,In village Katchi Pul Dist Qamber Sdkt Taluka ...,village Katchi Pul Dist Qamber Sdkt Taluka Qub...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12418,14635,village koor mir mohmmad u c burira takuka kha...,"GAON: KOOR, MERA NAAM MOHAMMAD U C BURIRA TAKU...",direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12419,14636,village koor mir mohammad you see burira taluk...,: koor burira a,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12420,14637,Village Mankyal bahrin Tehsil.,Mankyal bahrin.,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12421,14638,Village Mankyal tehsil bahrin.,Gnva Makyal bhar tahasla.,direct,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12422,14639,VILLAGE SAHIB KHAN SOLANGI totally damaged,Gnva shiba khana SOLANGI pr taraha se katigrasta,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12423,14640,village sehta sench union council channa taluk...,village sehta sench union council channa taluk...,direct,1,1,0,1,0,0,...,0,0,1,1,0,0,0,0,0,1
12424,14641,village sehta sench union council channa taluk...,Gnva sehta sench yniyana kaunsila can taluk se...,direct,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
12425,14643,gaav valay aahar aor aarthik samashyaa saamna ...,villagers r facing food and financial problm k...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12426,14644,WAF is monitering the camps in hyd and jamshor...,"WAF,hyd and jamshoro ZILLAO PE NAZAR RAKE HUVE...",direct,1,1,0,1,0,0,...,0,0,1,1,0,0,0,0,0,1
12427,14645,"CONNFCTION / . SOLANGI, ...",CONNFCTION B / C . VILLAGE ...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12428,14647,WE ARE FACING FOOD PROBLEM B/C IN THAT CONNFCT...,Hama ki CONNFCTION me khdya samasy b/ se hama ...,direct,1,1,0,1,0,0,...,1,0,0,0,0,0,0,0,0,1
12429,14650,We have peaches garden which consist of 500 tr...,Hama udyna j 500 pa aura una sabh ke bha se d...,direct,1,0,0,1,1,0,...,0,1,1,1,0,0,0,0,0,1
12430,14651,We need a water sceem from snaulhaq v/pDamorai...,Hama snaulhaq v/ pDamorai shangla alprai se pn...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12431,14654,What about flood victims of Manchar lake where...,"Manchar jhla ke bha pit, jah abh bhi naa gnv n...",direct,1,0,0,1,0,0,...,0,1,1,1,0,0,0,0,0,0
12432,14655,Why is this service not verifying reports in w...,Isa sv ky nah ka pui hai saptha m ripra?,direct,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12433,14656,"with a request, i am a flood victim belong to ...","ka anurdha ke stha, mai ham bha ikra gj Ghat.I...",direct,1,1,0,1,0,0,...,0,0,1,1,0,0,0,0,0,1
12434,14661,#Pakistan #Pkfloods #need volunteers #loc SIND...,"#Pakistan#Pk floods abhi #loc SINDH,GAMBAT #sr...",direct,1,1,0,1,0,0,...,0,0,1,1,0,0,0,0,0,0
12435,14662,#PKFLOODS #Pakistan #NEEDS URGENT RELIEF 100's...,#PK mein baad #Pakistan #madad ke zakth zaroor...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12436,14663,Our team of GIVE A HOME is in Sukkur as I writ...,Hamara ghardena waalas sukkur may hai .Pani ch...,direct,1,1,0,1,0,0,...,0,0,1,1,0,0,0,0,0,0
12437,14665,Karachi: Need Volunteers for packing at Gulist...,Karachi:samaan bandhane ke liye volunteer chah...,direct,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
12438,14666,Karachi: Help in a Box: Volunteers needed for ...,Karachi: dape me sahay. pack karne meh sahay w...,direct,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
12439,14671,Ghambat: Khairpur: 100s of villages submerged ...,GHAMBAT: KHAIRPUR: 100S GAVON MEIN PAANI MEY J...,direct,1,0,0,0,0,0,...,0,0,1,1,0,0,0,0,0,0
12440,14673,Ghambat: Sindh: Volunteers needed : @ http://b...,Ghambat: Sindh: Razakaroon ki zaroorat hai : @...,direct,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
12441,14675,"shikarpur: Volunteers needed, food and medical...",shikarpur mein swanyasevak ki avyashaktha he.k...,direct,1,1,0,1,1,1,...,0,0,0,0,0,0,0,0,0,1
12442,14676,"Dadu: Needs water, food, medicines. boats","JO KO KHANA, PAANI, DAWAYIAN, NAOV CHAHIYE.",direct,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,1
12444,14679,Umer kot: Sindh: Shelter and Camp needed as pe...,"Umer kot: Sindh: logon ko rehne ke liye ghar,s...",direct,1,1,0,1,0,0,...,0,0,1,1,0,0,0,0,0,1

### 7. Save the clean dataset into an sqlite database.
You can do this with pandas [`to_sql` method](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_sql.html) combined with the SQLAlchemy library. Remember to import SQLAlchemy's `create_engine` in the first cell of this notebook to use it below.

In [25]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///InsertDatabaseName.db')
df.to_sql('InsertTableName', engine, if_exists = 'append', index=False)

### 8. Use this notebook to complete `etl_pipeline.py`
Use the template file attached in the Resources folder to write a script that runs the steps above to create a database based on new datasets specified by the user. Alternatively, you can complete `etl_pipeline.py` in the classroom on the `Project Workspace IDE` coming later.